#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.h1{
color:rgb(17, 17, 70) !important; 
}
.flex_container{
 color:cadetblue;
  background-color:rgb(254, 220, 172);
  max-width: 300px;
  min-width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 6px;
}
@media screen and (max-width: 1535px){
  .flex_container{
    max-width: 350px;
  min-width: 350px;
  }
}
@media  screen and (max-width:768px) {
  .flex_container{
    max-width: 200px;
    min-width: 200px;
  }
  
}
.flex_container_unique{
  background-color: antiquewhite;
  color:cadetblue;
  max-width: 800px;
  min-width: 800px;
  margin: 10px;
  border-radius: 15px;
   box-shadow: 3px 4px 6px 9px;
}
.label{
  color:blue;
  font-family: "bree-serif";
}
.container{
  display: flex;
  
  flex-wrap: wrap;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.confirm_button{
  color: blue;
  background-color: none;
  margin-bottom: 10px;

}
.input_tag{
  width: 350px;
  padding: 10px;
  margin-bottom: 7px;

  
  border-radius: 10px;
}
.form_tag{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  color: rgb(40, 36, 41);
  background-color: rgb(228, 89, 9);
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 20px;
}
.submit_btn{
  
  width: 118px;
  height: 44px;
  border-radius: 8px;
  color: white;
  background-color: rgb(15, 190, 33);
  
  margin-left: 40%;
  margin-bottom: 1%;
  

}
.response_data{
  font-family: "bree-serif";
  color:green;
  font-size: 25px;


}
.form_headline{
  font-family: "bree-serif";
  color:rgb(220, 21, 61);
  font-size: 25px;
}
.Form_container{
  background: url("https://media.istockphoto.com/id/1254646139/photo/comfortable-workplace-with-potted-plants-wall-organizer-pictures-and-computer.jpg?s=2048x2048&w=is&k=20&c=Bdoc6rwZbedgu9B47B-9HUQq3L9f7PjhBcNwW2qLy10=");
  
  background-size: cover;
 
  padding: 100px;
  border-radius: 10px;

}